@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

/* Josefin Sans Open Sans */
/* 
font-family: 'Josefin Sans', sans-serif;
 
*/
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    --animation-time1: 400ms;
    --animation-time2: 600ms;
    --animation-time3: 700ms;
}

body::-webkit-scrollbar {
    display: none;
}
body{
    width: 100vw;
}
#root {
    /* background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
     */
    background: #536976;
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    background: linear-gradient(to right, #292E49, #536976);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;

}




.width-80 {
    width: 80vw;
}

.width-60 {
    width: 60vw;
}

.margin-auto {
    margin: 0px auto;
}


nav {
    min-height: 70px;
    /* background-color: rgb(36, 33, 33); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #384054; */
    

}

.navigation {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.navigation-list {
    display: flex;
    gap: 60px;
    /* position: fixed; */

}

.navigation-list li {
    list-style: none;

}

.logo a {
    font-size: 2rem;
    color: #ffc86b;
    text-decoration: none;
}

.logo:first-child {
    animation-name: nav-left;
    animation-duration: var(--animation-time3);
    animation-timing-function: ease-out;
    transition-property: transform;
}

@keyframes nav-left {
    from {
        transform: translateX(-1000%)
    }

    to {
        transform: translate(0);
    }
}

.logo h3 {
    font-family: 'Josefin Sans', sans-serif;
}

.navigation:first-child {
    animation-name: ul-ani;
    animation-duration: var(--animation-time3);
    animation-timing-function: ease-in;
    transition-property: transform;
}

@keyframes ul-ani {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.1);
    }
}

.navigation li {
    list-style: none;
    position: relative;
    transition: transform 300ms ease-in-out;

}

.navigation li::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 1;
    opacity: 0;
    background-color: #ffc86b;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.navigation li:hover::before,
.navigation ul li:focus::before {
    transform: scaleX(1);
    opacity: 1;
    color: #ffc86b;
}


.navigation-list li a {
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: #ffc86b;
    font-size: 2.0rem;
}


.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.hamburger .ham {
    width: 25px;
    height: 3px;
    margin: 3px auto;
    /* border: 2px solid black; */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 350px;
    animation-name: search;
    animation-duration: var(--animation-time3);
    animation-timing-function: ease-out;
    transition-property: transform;
}

@keyframes search {
    from {
        transform: translateX(1000%)
    }

    to {
        transform: translateX(0)
    }

}

#search-inp {
    height: 36px;
    padding: 5px 6px;
    font-size: 1.6rem;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    outline: 0;
}

#btn {
    height: 36px;
    font-size: 1.6rem;
    padding: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;

}

/* .contact-me::before{
    content: '';
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0px;
   
    background-color: grey;

} */

/* Middle style */
#middle {
    height: 750px;
    width: 60vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    place-items: center;

}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}


.intro-head {
    color: white;
}

.intro-head h1 {
    font-size: 3rem;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    animation-name: inro-h1;
    animation-duration: var(--animation-time1);
    animation-timing-function: ease-out;
    transition-property: transform;
}

@keyframes inro-h1 {
    from {
        transform: translateX(-1000%)
    }

    to {
        transform: translateX(0)
    }
}

.intro-head h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 10px;
    animation-name: inro-h2;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    transition-property: transform;
}

@keyframes inro-h2 {
    from {
        transform: translateX(1000%)
    }

    to {
        transform: translateX(0)
    }
}

.intro-head strong {
    font-size: 3.5rem;
    color: #ffc86b;
}

/* for photo */

@keyframes contectAni {
    from {
        transform: translateY(1000%)
    }

    to {
        transform: translateY(0)
    }
}

.my-photo {
    animation-name: photo;
    animation-duration: var(--animation-time2);
    animation-timing-function: ease-out;
    transition-property: transform;
}


.contact-me {
    font-size: 1.6rem;
    padding: 1.5rem;
    position: relative;
    color: white;
    background-color: #536976;
    z-index: 1;
    transition: color 300ms ease-in-out;
}

.contact-me {
    font-size: 1.6rem;
    padding: 1.0rem;
    border: 2px solid #536976;
    border-radius: 8px;
    background-color: #85b6e1;
    outline: 0;
}

.contact-me::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #536976;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
    border-radius: 7px;
}

.contact-me:hover::before,
.contact-me:focus::before {
    transform: scaleX(1);

}



.contact-me:hover {
    cursor: pointer;
    color: #ffc86b;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
}

.line {
    height: 125px;
    width: 3px;
    background-color: #ffc86b;
    border-radius: 10px;
    margin: 8px 0px;
}

.social-media img {
    width: 40px;
    height: 40px;
    margin: 5px 0px;
    border: 2px solid #ffc86b;
    border-radius: 50%;
    background-color: white;
}



/* About css */
.about-container {
    /* height: 200px; */
    color: white;
}

.about-container h1 {
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;

}

.ab-h1-para {
    display: flex;
    justify-content: space-around;


}

.ab-h1-para p {
    text-align: justify;
    font-size: 2rem;
}

.ab-line {
    height: 3px;
    margin-right: 5px;
    width: 90px;
    background-color: #ffc86b;
    border-radius: 10px;
    margin-top: 13px;
}


.my-skills {
    color: white;
     
    margin-top: 20px;
}

.my-skills h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.skill-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;



}

/* @keyframes scrollUp {
    from {background-color: #2b3235;}
  to {background-color: #ffc86b;}
} */
.skill-box :hover {
    background-color: #ffc86b;
    /* border: 2px solid black; */
    color: black;
}

.skill {
    border: 2px solid #ffc86b;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;

}

.skill-logo img {
    width: 120px;
    height: 120px;
}


.skill-name {
    text-align: center;
}

/* project style */
.project-section {
    /* background: linear-gradient(315deg, #303032, #2b3235 74%); */
     
    /* height: 900px; */
    color: white;
}

.project-items {
    width: 60vw;
    margin: 0px auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
    margin-top: 20px;

}

.p-item {
    /* border: 2px solid #ffc86b; */
    /* width: 100%;
    height: 418px; */
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-items: center;
    margin: 20px 0px;
}

.p-item-img img {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    /* object-fit: cover; */
}

.project-box-details {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.static {
    position: absolute;
}

.static:hover {
    opacity: 0;
}

.project-container {
    gap: 20px;
}

.project-con h1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px 0px;
}

.project-more-info {
    text-align: center;
    margin: 0px auto;
    width: 400px;
    color: rgb(255, 255, 255);
}

.project-more-info p {
    font-size: 1.6rem;
}

.proj-h1 h1 {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.more-projects {
    display: flex;
    justify-content: center;
    align-items: center;

}

.m-p-btn {
    font-size: 1.6rem;
    padding: 1.5rem;
    position: relative;
    color: white;
    z-index: 1;
    border: 2px solid #536976;
    border-radius: 8px;
    background-color: #85b6e1;
    outline: 0;
    transition: color 300ms ease-in-out;
}

.m-p-btn::before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #536976;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
    border-radius: 7px;
}
.m-p-btn a{
    color: #ffc86b;
}
.m-p-btn:hover::before,
.m-p-btn:focus::before {
    transform: scaleX(1);
    color: #ffc86b;

}

.m-p-btn a:hover {
    cursor: pointer;
    color: #ffc86b;
}

.m-p-btn a {
    text-decoration: none;

}

/* contact style */
.contact-section {
     
    height: 600px;
    margin-top: 20px;
}

.contact-header {
    width: 60vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    place-items: center;
}

.contact-header h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

.contact-header .line {
    height: 4px;
    background-color: #ffc86b;
    border-radius: 10px;
    width: 100%;
}

.contact-header h1 {
    font-family: 'Josefin Sans', sans-serif;
}

.contact-items .item {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
    color: white;
    margin: 10px 0px;
}
.item-logo img{
    width: 30px;
    height: 30px;
}
/* .item h1{
    font-size: 20px;
} */

.contact-form {
    width: 60vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
    height: 500px;
}
.contact-right {
    width: 500px;
    /* border: 2px solid black; */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.contact-right h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.contact-right form {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-right input {
    height: 30px;
    font-size: 1.6rem;
    margin: 10px 0px;
    padding: 5px 7px;
    width: 450px;
    border-radius: 8px;
    outline: none;
}

.contact-right input[type="submit"] {
     
    font-size: 2rem;
    padding: 5px 7px;
    border: 2px solid #2f364f;
    border-radius: 8px;
    background-color: #85b6e1;
    /* margin-bottom: 20px; */
    width: 130px;
    height: 55px;
    color: #fff;
}

.contact-right input[type="submit"]:hover {
    cursor: pointer;
    color: #ffc86b;
}

.contact-right textarea {
    width: 450px;
    height: 200px;
    font-size: 1.6rem;
    padding: 7px 10px;
     
    border-radius: 8px;
    margin: 10px 0px;
    outline: none;
}

/* footer style */

.footer-img {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-section img {
    width: 35px;
    height: 35px;
    margin: 5px 0px;
    border: 1px solid #ffc86b;
    border-radius: 50%;
    background-color: white;
}

footer {
    height: 80px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* 
background: #536976; 
background: -webkit-linear-gradient(to right, #292E49, #536976); 
background: linear-gradient(to right, #292E49, #536976);  */



.errorpage{
    display: flex;
    color:white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.errorpage h1{
    font-size: 2.6rem;
}
.errorpage h3{
    font-size: 1.6rem;
}
.errorpage p a{
    font-weight: bold;
    text-decoration: none;
    color: #85b6e1;
    font-size: 1.6rem;
}

/* Thank you page */
.thanks{
    display: flex;
    color:white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.thanks h1{
    font-size: 2.6rem;
}
.thanks h3{
    font-size: 1.6rem;
}
.thanks p a{
    font-weight: bold;
    text-decoration: none;
    color: #85b6e1;
    font-size: 1.6rem;
}

.footer-img a{
    color: black;
}
.footer-img i:hover{
    cursor: pointer;
}